body {
    margin: 1px;
    font-family: "Poppins", sans-serif !important;
    font-weight: 300;
    color:aliceblue;
}

#context-menu {
 /*position: absolute;
  height: auto;
  top: 20%;
  right: 20%;
  border-radius: 5px;
  background: transparent !important;*/
  position:fixed;
  z-index:10000;
  width:175px;
  transform:scale(0);
  transform-origin:top left;
  list-style-type: none;
  user-select: none;
  text-align: center;
}

#context-menu.active {
  transform:scale(1);
  transition:transform 300ms ease-in-out;
}

#context-menu .menu-item {

    padding:8px 10px;
  font-size:12px;
  color:#eee;
  /*border-radius: 10px;
  /*border: 2px solid lightgrey;
  margin-bottom: 3px;
  transition: all .15s ease-in-out;
    /*max-height: 75vh;
    width: 18vw;
    overflow-x: none;
    overflow-y: auto;
    padding: 10px;*/
   
}

#context-menu .menu-item:hover {
  transform: scale(1.0575);
}

#context-menu .menu-item i {
  display:inline-block;
  margin-right:5px;
 
}

#context-menu hr {
  margin:8px 0px;
  border-top: 1px solid rgb(2, 184, 47);
}

.sub-menu::after {
  /* This is the Submenu Arrow */
  content: "";
  position: absolute;
  right: 5px;
  border: 5px solid transparent;
  border-left-color: #111111;
}

.inside-sub-menu{
  position:absolute;
  z-index:10000;
  width:162px;
  left: 101.5%;
  transform:scale(0);
  list-style-type: none;
}
.inside-sub-menu .menu-item {
  padding:8px 10px;
  font-size:12px;
  color:rgb(243, 243, 243);
}

.inside-sub-menu .menu-item i {
  display:inline-block;
  margin-right:5px;
}

.menu-item:hover > .inside-sub-menu {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, -23px) scale(1);
  pointer-events: auto;
}

/* COLORS */

.default{
  background-color: rgba(14, 14, 14, 0.534);
}

.default:hover{
  background-color: #dc143c;
}

.blue{
  background-color: rgba(17, 5, 60, 0.6);
}

.blue:hover{
  background-color: rgba(25, 8, 90, 0.8);
}

.orange{
  background-color: rgba(90, 40, 0, 0.6);
}

.orange:hover{
  background-color: rgba(130, 60, 0, 0.8);
}

.green{
  background-color: rgba(0, 60, 0, 0.6);
}

.green:hover{
  background-color: rgba(0, 90, 0, 0.8);
}

.yellow{
  background-color: rgba(110, 110, 0, 0.6);
}

.yellow:hover{
  background-color: rgba(150, 150, 0, 0.8);
}

.brown{
  background-color: rgba(110, 110, 0, 0.6);
}

.brown:hover{
  background-color: rgba(150, 150, 0, 0.8);
}

.lightgrey{
  background-color: rgba(60, 60, 60, 0.5);
}

.lightgrey:hover{
  background-color: rgba(75, 75, 75, 0.7);
}

.purple{
  background-color: rgba(90, 0, 110, 0.6);
}

.purple:hover{
  background-color: rgba(130, 0, 190, 0.6);
}

.lightBlue{
  background-color: rgba(53, 141, 169, 0.5);
}

.lightBlue:hover{
  background-color: rgba(53, 141, 169, 0.7);
}

.red{
  background-color: rgba(120, 0, 0, 0.6);
}

.red:hover{
  background-color: rgba(130, 0, 0, 0.8);
}

.lightGreen{
  background-color: rgba(34, 209, 121, 0.5);
}

.lightGreen:hover{
  background-color: rgba(34, 209, 121, 0.7);
}